@font-face {
  font-family: 'Colony';
  src: local('Colony'), url(../fonts/Colony.ttf) format('truetype');
}

@font-face {
  font-family: 'Razed';
  src: local('Razed'), url(../fonts/Razed.ttf) format('truetype');
}

@font-face {
  font-family: 'Razed2';
  src: local('Razed2'), url(../fonts/Razed2.ttf) format('truetype');
}

main {
  
}

h1 {
  font-family: Razed, monospace;
  font-size: 80px;
}

.title {
  color: black;
}
/* ========== NAVBAR ========== */

Nav {
    font-weight: 100;    
}

.navbar {
  padding: 15px 100px;
}

.avatar {
  width: 25px;
  border-radius: 100%;
}

/* ========== SEARCH IMAGES ========== */

.image-container {
  max-width: none;
}

.image-card {
  width: 300px;
  margin-bottom: 30px;
  text-align: center;
}

.image-card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.form {
 width: 105%;
}

/* ========== PROFESSIONALS ========== */

.user-details img {
 width: 50%;
}

/* ========== PORTFOLIO ========== */

.work-image {
  width: 50%;
}

.work-details img {
  width: 50%
}

.create-btn {
  margin: 0 auto;
}

.card-text {
  color: black;
  
}

.modal-content {
  margin-top: 180px; 
}

.modal-title {
 font-weight: 100;
}


/* ========== APP ========== */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
