@font-face {
  font-family: 'Colony';
  src: local('Colony'), url(./fonts/Colony.ttf) format('truetype');
}

@font-face {
  font-family: 'Razed';
  src: local('Razed'), url(./fonts/Razed.ttf) format('truetype');
}

@font-face {
  font-family: 'Razed2';
  src: local('Razed2'), url(./fonts/Razed2.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url(./fonts/Quicksand.ttf) format('truetype');
}

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap'); */

.slider-wrapper {
  box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.45);
}

.btn-transparent {
  border-radius: 50px;
  color: #ffffffdc;
  background-color: #48666d62;
  padding: 8px 40px;
  cursor: pointer;
  border: 3px solid #ffffffa8 !important; 
}

.btn-transparent:hover {
  color: black;
  background-color: #ffffffdc;
  cursor: pointer
}

.btn-other {
  border-radius: 50px;
  color: #ffffffdc;
  background-color: #48666d62;
  padding: 8px 40px;
  cursor: pointer;
  border: 2px solid #ffffffa8 !important; 
}

.btn-other:hover {
  color: black;
  background-color: #ffffff00;
  cursor: pointer
}


.btn-obscure {
  border-radius: 50px; 
  background-color: #ffffff04;
  color: black !important;
  padding: 6px 20px !important;
  cursor: pointer;
  border: 3px solid #000000b9 !important; 
}

.btn-obscure:hover {  
  background-color: #000000af;
  color: white !important;
  border: 3px solid #00000085 !important;  
   
}

.btn-delete {
  border-radius: 50px;
  color: #c71818;
  background-color: #48666d34;
  padding: 8px 40px;
  cursor: pointer;
  border: 3px solid #bb1e1ea8 !important;
}

.btn-delete:hover {  
  color: white;
  background-color: #c71818a8;
  cursor: pointer   
}

body {
  color: black;
  font-family: 'Quicksand', serif;
  font-weight: 500;
  min-height: 110vh;
  background-image: linear-gradient(to bottom, #173135f3, #124d50b2, #266d69ad, #459285b0, #59948c9c),
    linear-gradient(90deg, rgba(26,19,40,0.9430147058823529) 0%, rgba(37,150,105,0.4682247899159664) 0%, rgba(32,92,89,1) 0%, rgba(75,129,153,0.39399509803921573) 48%, rgba(194,189,196,0) 95%);
;
  
  opacity:  /* background-image: url(./blur.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

h1 {
  font-family: Razed, monospace;
  font-size: 80px;
}

.title {
  color: black;
}

/* ========== AUTH ========== */

.login {
  border: 1px solid rgba(0, 0, 0, 0.082);
  padding: 40px 80px 50px;
  background-color: #00000018;
  border-radius: 3%;
  margin-top: 100px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
}

.login .form-control[type="text"], .login .form-control[type="password"], .login .form-control[type="date"]  {
  background-color: transparent;
  border: none;
  border-bottom: 1.8px solid rgba(39, 39, 39, 0.534);
  color: black
}

.login .form-control:hover {
  background-color: transparent;
}

.login .form-control:focus {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.login .form-control:active {
  background-color: rgba(0, 0, 0, 0); 
}

.login .form-control {
  margin-bottom: 25px;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus,
textarea:link, 
input:focus,
input:visited,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.login button {
  margin: 40px auto 0;
}

.login ::placeholder { 
  color: black;
  opacity: 1; 
}

.login h1 {
  margin-bottom: 40px;
}

/* ========== SEARCH IMAGES ========== */

.image-container {
  max-width: none;
}

.pexelimg-card {
  width: 0px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5% !important;
}

.pexelimg-card img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 5% !important;
  opacity: 0.8;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

}

.images-container {
    margin-top: 50px;
    border-radius: 5% !important;
    color: white
}

.searchBar {
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    padding: 8px 20px;
}

.btn-searchBar {
  margin-left: 50px;
}

.searchform ::placeholder { 
  color: rgba(255, 255, 255, 0.726) !important;
  opacity: 1; 
}

.searchform .form-control[type="text"] {
  background-color: rgba(255, 255, 255, 0.062); 
  border: 2px solid rgba(255, 255, 255, 0.39);
  color: rgba(255, 255, 255, 0.788);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.searchform .form-control:focus, .form-control:active {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.788);
}

.heart {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 45%;
}

/* ========== ACCOUNT ========== */

.account-details {
  color: rgba(255, 255, 255, 0.747);
  border: 1px solid rgba(0, 0, 0, 0.151);
  margin-top: 110px;
  /* background: linear-gradient(90deg, rgba(26, 19, 40, 0.466) 0%, rgba(37, 150, 105, 0.295) 0%, rgba(32,92,89,1) 0%, rgba(75, 130, 153, 0.267) 48%, rgba(194,189,196,0) 95%); */
  border-radius: 3%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.account-details hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.767);
}

.account-section1 {
  border-right: 1px solid rgba(0, 0, 0, 0.082);
  background-color: #142e3d18;
  padding: 60px;
  border-top-left-radius: 3%; 
  border-bottom-left-radius: 3%;
}

.account-img {
  margin-bottom: 10px;
  text-align: center;
}

.account-img img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50% !important;
  opacity: 0.8;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.account-section2 {
  margin: 0 auto;  
}

.account-section2 .info {
  margin-left: 20px  
}

.follows{
  color: rgba(255, 255, 255, 0.747);
}

.follows:hover {
  color: #245154;
}



/* ========== PORTFOLIO ========== */

.create-btn {
  margin: 0 auto;
}

.card-text {
  color: black;  
}

.modal-content {
  margin-top: 180px; 
}

.coworkers-container {
  margin-bottom: 50px;
}

.coworkerimg-container img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50% !important;
  border: 7px solid rgba(255, 255, 255, 0.014);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); 
  opacity: 0.9;
}


.coworkerimg-container {
  width: 100px;


  border-radius: 3%; 
  margin-bottom: 10px;
}

/* .professional-img img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50% !important;
  border: 7px solid rgba(255, 255, 255, 0.014);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); 
  opacity: 0.9;
  
}

.professional-card {
  width: 300px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.199);  
  border-radius: 3%;  
} */

/*----------------------------*/

.coworkers-container .info {
  margin-top: 50px !important;
  
}

.board-container {
  width: 100px;
}

.board-container img {
  width: 30% !important;  
}

.userimg-container img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 5% !important;
  opacity: 0.8;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 10px 0px;
}

.user-img img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 3% !important;
  opacity: 0.8;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.portfolio-details {
  color: black;
  border: none !important;
  background-color:rgba(255, 255, 255, 0);
  width: 100%
}

.portfolio-container {
  color: rgba(255, 255, 255, 0.747);
  border: 1px solid rgba(0, 0, 0, 0.151);
  margin-top: 110px;
  /* background: linear-gradient(90deg, rgba(26, 19, 40, 0.466) 0%, rgba(37, 150, 105, 0.295) 0%, rgba(32,92,89,1) 0%, rgba(75, 130, 153, 0.267) 48%, rgba(194,189,196,0) 95%); */
  border-radius: 3%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  margin-bottom: 80px !important;
}
.description {
  margin-top: 17vh !important;
}

/* ========== PROFESSIONALS ========== */

/* .professionals-col img {
  width: 58%;
  margin: 0 auto;
  position: absolute;
  top: -15%;
  left: 22%;
  border-radius: 50%; 
  border: 7px solid rgba(255, 255, 255, 0.014);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); 
  opacity: 0.9;
}

.professionals-col {
  width: 300px !important;
  margin-top: 100px !important;

}

.professional-card {
  position: relative;
  width: 100%;
  padding: 0px 20px 30px 20px;
  padding-top: 50%;
  background-color: rgba(255, 255, 255, 0.199);
  border-radius: 3%;  
} */

.professional-img img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50% !important;
  border: 7px solid rgba(255, 255, 255, 0.014);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); 
  opacity: 0.9;
  
}

.professional-card {
  width: 300px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.199);  
  border-radius: 3%;  
}

.professional-img {
  margin-top: 20px !important;
}

.profressional-card-text {
  padding-left: 20px;
  padding-right: 20px;
  color: black
}

.location {
  margin-top: 30px !important;
}



/* >>>>>> DETAILS <<<<<<< */

.portfolio-container{
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.151);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: rgba(255, 255, 255, 0.541);
  width: 100%
}

.pexelimg-container .what {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 50px !important;
  border-radius: 45%;
}


/* ========== POPUP ========== */
.modal-content {
  background-color: rgba(255, 255, 255, 0.842) !important;
  border-radius: 3% !important;
  padding: 0 50px 50px 50px; 
  margin-top: 150px !important
}

.form-control[type="select"], .form-control[type="date"], .form-control[type="textarea"], .form-control[type="file"], .form-control[type="text"] {
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid rgba(39, 39, 39, 0.534);
  color: black;
  appearance: none;
}

.custom-select {
  background-color: transparent !important;
  border: none;
  border: 1px solid rgba(39, 39, 39, 0.247);
  color: black;
  padding: 10px;
  outline:0px !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
}

select {
  outline:0px !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
}

.account-edit .form-control {
  border: 1px solid rgba(39, 39, 39, 0.219) !important;
}

.modal-board-container .modal-content {
  background-color: rgba(255, 255, 255, 0.842) !important;
  border-radius: 3% !important;
  padding: 40px; 
  margin-top: 150px !important
}

.modal-delete-container .modal-content{
  /* background: linear-gradient(to right, #333333, #dd18189f) !important; 
  background: linear-gradient(to right, #a73737c9, #7a2828)!important; */
  background: linear-gradient(to right, #a51010b7, #4b5e5cf6) !important; 
  color: rgba(255, 255, 255, 0.747)
}

.modal-delete-container .modal-header{
  border: none
}

.delete-hr {
  border-top: 1px solid  rgba(255, 255, 255, 0.295);
  margin: 0

}

.toast-container {
  background: linear-gradient(90deg, rgba(26, 19, 40, 0.466) 0%, rgba(37, 150, 105, 0.295) 0%, rgba(32,92,89,1) 0%, rgba(75, 130, 153, 0.267) 48%, rgba(194,189,196,0) 95%);
  border-radius: 3% !important;
  padding: 20px; 
  margin-top: 150px !important;  
}

.toast-error-container {
  background: linear-gradient(to right, #a51010b7, #4b5e5cf6);
  border-radius: 3% !important;
  padding: 20px; 
  margin-top: 150px !important;  
}

.toast {
  border: 1px solid rgba(255, 255, 255, 0.247) !important;
  width: 100% !important;
  max-width: 400px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/* ========== CHAT ========== */

#chat {
  max-height: calc(100vh - 128px);
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.075);
  margin: 40px !important
}

.name {
  color: rgba(0, 0, 0, 0.54);
}

.content {
  margin-bottom: 8px;
}

.chat-container {
  color: red
}

/* ========== APP ========== */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ========== Footer ========== */

.site-footer{
  background-color:#255055b0;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color: rgba(255, 255, 255, 0.432);
  box-shadow: 1px -5px 6px -4px rgba(0,0,0,0.77);
  border-top: 1px solid rgba(0, 0, 0, 0.164) !important
  /* background-image: linear-gradient(150deg, rgba(26,19,40,0.9430147058823529) 0%, rgba(37,150,105,0.4682247899159664) 0%, rgba(32,92,89,1) 0%, rgba(75,129,153,0.39399509803921573) 48%, rgba(194,189,196,0) 95%) */
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:rgba(255, 255, 255, 0.432);
}
.site-footer a:hover
{
  color: #fff;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:rgba(255, 255, 255, 0.432)
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: #fff;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:rgba(255, 255, 255, 0.432)
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.linkedin:hover
{
  background-color: rgba(255, 255, 255, 0.836)
}

.social-icons .linkedin-icon:hover {
  filter: invert(50%);
  
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* ========== Sitemap ========== */

.sitemap-container {
  color: rgba(255, 255, 255, 0.747);
  border: 1px solid rgba(0, 0, 0, 0.151);
  margin-top: 110px;
  /* background: linear-gradient(90deg, rgba(26, 19, 40, 0.466) 0%, rgba(37, 150, 105, 0.295) 0%, rgba(32,92,89,1) 0%, rgba(75, 130, 153, 0.267) 48%, rgba(194,189,196,0) 95%); */
  border-radius: 3%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.sitemap-container hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.767);
}

.sitemap-section1 {
  border-right: 1px solid rgba(0, 0, 0, 0.082);
  background-color: #446a677c;
  padding: 60px;
  border-top-left-radius: 3%; 
  border-bottom-left-radius: 3%;
}

.sitemap {
  padding-left: 0;
  padding-right: 0;
}
