
Nav {
    font-weight: 300;    
}

.avatar {
  width: 25px;
  border-radius: 100%;
}

.navbar {
 padding: 15px 80px !important;
 /* background: linear-gradient(90deg, rgba(26,19,40,0.9430147058823529) 0%, rgba(37,150,105,0.4682247899159664) 0%, rgba(32,92,89,1) 0%, rgba(75,129,153,0.39399509803921573) 48%, rgba(194,189,196,0) 95%) */

}

.custom {
  background-color: transparent;
}

.nav-link {
  color: rgba(255, 255, 255, 0.808) !important;
  padding: 10px 20px !important;
}



